body {
            background-image: url(resources/woodbg.png);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 25px;
            padding-bottom: 100px;
            font-family: 'Cinzel', serif;
        }
        header {
            width: 50%;
            display: flex;
            flex-direction: column;
            color: #CCA11D;
            align-items: center;
        }

        header>img {
            width: 100%;
        }

        .basecontainer {
            width: 80%;
            display: flex;
        }

        nav {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: #CCA11D;
        }

        .navbutintro {
            background-color: #1A0601;
            border: 5px ridge #997815;
            height: 75px;
            width: 100%;
            border-radius: 3px;
            padding-right: 10px;
            box-sizing: border-box;
            border-bottom-left-radius: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 24px;
            transition: 0.3s;
        }

        .navbut {
            background-color: #1A0601;
            border: 5px ridge #997815;
            height: 75px;
            width: 100%;
            border-radius: 3px;
            padding-right: 10px;
            box-sizing: border-box;
            border-bottom-left-radius: 20px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-size: 24px;
            transition: 0.3s;
        }

        .navbutlist {
            display: none;
            width: 90%;
            flex-direction: column;
            align-items: flex-end;
        }

        .navbutsub {
            border: 5px ridge #997815;
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: #1A0601;
            transition: 0.3s;
        }

        .navbutsublist {
            border: 5px ridge #997815;
            height: 50px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: none;
            background-color: #1A0601;
            transition: 0.3s;
            position: relative;
            
        }

        .navbutsublist>i {
            position: absolute;
            left: 5%;
        }

        .listactive,
        .navbutsublist:hover,
        .navbutsub:hover,
        .navbut:hover,
        .navlistbut:hover,
        .navbutintro:hover {
            cursor: pointer;
            background-image: none;
            background-color: blanchedalmond;
        }

        .navbutsublist>i {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 20px;
            width: 20px;
        }

        .navlist {
            display: none;
            flex-direction: column;
            float: right;
            width: 70%;
        }

        .navlistbut {
            border: 3px ridge #997815;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            border-radius: 3px;
            box-sizing: border-box;
            background-color: #1A0601;
            transition: 0.3s;
        }

        main {
            border: 5px ridge gray;
            width: 100%;
            min-height: 1000px;
            height: fit-content;
            padding: 10px 20px;
            box-sizing: border-box;
            display: flex;
            text-align: center;
            align-items: center;
            flex-direction: column;
            background-image: url(resources/parchment.jpg);
        }

        main>p {
            font-family: 'Hind Siliguri', sans-serif;
            margin: 10px;
        }
        main>img{
            width: 100%;
        }
	.current{
            background-color: brown;
        }
	.navbutsub>a,a:link,a:visited{
            text-decoration: none;
            color: #CCA11D;
        }
        .spotify{
            margin-top: 10px;
            width: 60%;
        }
        @media only screen and (max-width:1024px) {
            .basecontainer{
                width: 90%;
            }
            nav{
                width: 250px;
            }
            .navbut {
                font-size: 22px;
            }
        }

        @media only screen and (max-width: 768px) {
            body {
                min-width: 768px;
            }

            header {
                width: 70%;
                min-width: 525px;
            }

            .basecontainer {
                min-width: 600px;
            }
        }
